.form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 25vw;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    background-color:var(--blue-two);
    border-radius: 10px;
    color: white;
    border: 2px solid var(--bright-blue);
}

@media (max-width: 1500px ) {
    .form {
        width: 30vw;
    }
    
}
@media (max-width: 1250px ) {
    .form {
        : 35vw;
    }
    
}

@media (max-width: 800px ) {
    .form {
        min-width: 80vw;
    }
    
}

@media (max-width: 650px ) {
    .form {
        width: 85vw;
    }
    
}

@media (max-width: 450px ) {
    .form {
        width: 90vw;
    }
    
}


@media (max-width: 1000px ) {
    .form {
        width: 45vw;
    }
    
}

.header {
    width: 100%;
    margin-right: auto;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}


.form h2 {
    padding: 0;
    margin: 0;
}

.form input {
    padding: 0.7rem;
    border: none;
    background-color: rgba(63, 55, 55, 0.4);
    border-radius: 10px;

}

.inputs {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    width: 100%;
}

.register-button {
    margin-right: auto;
    width: 40%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background-color: #2e84bb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;

}

.register-button:hover {
    background-color: rgb(46, 132, 187, 0.9);
}

.inputs input {
    border: 2px solid white;
}

input.invalid {
    border: 2px solid red;
}

.error {
    margin-right: auto;
    color: red;

}


.form a {
    color: white;
    border-bottom: 2px solid var(--bright-blue);
}