@media screen and (max-width: 700px) {
    body {
        font-size: 12px
    };
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body * {
    box-sizing: border-box;
}

#root {
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --dark-blue: #142d4c;
    --light-green: #9fd3c7;
    --percent-green: #4eaf0a;
    --percent-red: #e15241;

}
* {
    outline: 1px solid red;
}

body * {
    box-sizing: border-box;
    font-family: var(--main-font);
}

.main-page-container {
    color: #142d4c;
    padding-left: 20rem;
    padding-right: 20rem;
    background-color: #9fd3c7;
}