.header {
    width: 100%;
    background-color: #0c131c; 
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    border-bottom: 2px solid black;

}

.header h1 {
    font-size: 3rem;
    color: white;
}
