.dashboard-main {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1c2837;
    flex-wrap: wrap;
    width: 100%;
}