.main {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--blue-one);
    background-color: var(--blue-one);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
