
.dashboard-bottom {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* .header {
    background-color: var(--blue-two);
    border-bottom: 1px solid #2e84bb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    color:white;
} */

@media(max-width:600px) {
    .header {
        padding: 0.5rem;
    }
}

.header input {
    margin-left: auto;
}

.header .graph-button {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #253344;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    cursor: pointer;
    color:white;
    min-height: 100%;
}

.header button img {
    max-width: 3vh;
}

.main-container {
    display: flex;
    background-color:  var(--blue-one);
    padding: 1rem;
    min-height: 40%;
    flex-direction: row;
    gap: 0.5rem ;
}


.portfolio {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    background-color: var(--blue-two);
    border: 2px solid var(--bright-blue);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 1200px) {
    .main-container {
        flex-direction: column;
    }
    .portfolio {
        max-width: 100%;
    }
}

/* .recent-transactions {
    flex-grow: 1;
    padding: 1rem;
    border: 2px solid var(--bright-blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 */
