.sidebar {
    width: 15%;
    background-color: var(--dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
} 



.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem   ;
}

.buttons-container button {
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    cursor: pointer;
    padding: 0.5rem;
    min-height: 3vw;
    display: flex;
    padding-left: 20px;
}
.buttons-container button:hover {
    color: rgb(0, 255, 255, 0.6);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: rgb(128, 128, 128, 0.3);
    align-items: center;
    padding: 0;
    padding: 1rem;
}

.footer a {
    display: flex;
}

.footer img{
    width: 2vw;
}