
.header {
    gap: 0.5rem ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: stretch;
    justify-content: center;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    background-color: var(--blue-two);
    padding: 0.5rem;
    padding-bottom: none;
    flex: 1;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

th {
    vertical-align: middle;
}

.table thead th {
    color: white;
    background: #253344;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    line-height: 0;
    border-bottom: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
}

.table {
border-collapse: collapse;
overflow-x: scroll;
width: 100%;
}

.table thead {
    max-height: 40px;
    height: 40px;
}

.table thead th {
    padding: 0.5rem;
}

.table tr {
    overflow: hidden;
    height: 14px;
    white-space: nowrap;
    border-bottom: 1px solid #e5e7eb;
}

.table tr td {
    max-height: 60px;
    height: 20px;
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
}


.buttons button img {

    max-width: 30px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2638%) hue-rotate(329deg) brightness(111%) contrast(109%);
}
.buttons {
    width: 100px
}
.buttons button {
    border: none;
    background: none;
}
.coin-name-dt img {
    max-width: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.2rem;
}

.coin-name-dt {
    height: 100%;
}

.coin-name-dt small {
    margin-left: 0.2rem;
    font-size: 0.7rem;
}


.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

tr:hover {
    background-color: var(--blue-one)
}

.stats-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.button {
    color: var(--blue-one);
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1rem;
    border: 3px solid var(--bright-blue);
    background-color: var(--bright-blue);
    border-radius: 10px;
    cursor: pointer;
    min-width: 10%;
}