.section,
.section-left
{
    display: flex;
    padding: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.section-left {
    flex-wrap: wrap-reverse;
}

@media (max-width: 750px) {
    .section,
    .section-left
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.img-container,
.img-container-left
{
    max-width: 100px;
    min-height: 100px;
    border: 6px solid var(--bright-blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img,
.img-container-left img
{
    width: 80%;
}

.big-img-container {
    border: 6px solid var(--bright-blue);
    object-fit: cover;
    max-width: 600px;
    display: flex;
    position: relative;
    background-color: var(--blue-two);
    border-radius: 10px;
}

.big-img-container img {
    border-radius: 15px;
}

.title {
    font-size: 1.5rem;
    color: var(--bright-blue);
}

.description {
    font-size: 1.2rem;
    max-width: 60ch;
}

.big-img-container img {
    width: 100%;
    object-fit: cover;  
}

.img-container-left {
    margin-left: auto;
}